<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXnrbC0rDkj2E5iFHAMFhvEvFmS5GA_js</string>
	<key>GCM_SENDER_ID</key>
	<string>96663279713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleaningTracker</string>
	<key>PROJECT_ID</key>
	<string>cleaningapp-66e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>cleaningapp-66e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96663279713:ios:66a44afea76f498812b220</string>
	<key>DATABASE_URL</key>
	<string>https://cleaningapp-66e1e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>